body{
	font-family: 'Dosis', sans-serif;
	background-color : #EEEEE2;
	margin : 10px;
}
.abc{
	background-color : blue;
	
}

.et{
	margin-top : 78px;
}
h2{
	text-align : center;
	text-decoration : underline;
}

.a{
	font-size: 2em;
	
	
}
.e{
	font-size: 2em;
	
}
.b{
	font-size: 2em;
}
.c{
	font-size: 2em;
}

.bar{
	font-size: 1.5em;
}

.t{
	border: thick double black;
	color: black;
	font-size : 20px;

}

.f{
	list-style-type: lower-greek;
	font-size: 24px;
}
	
	
#image{
	width : 100px;
}

.logo{
	margin-top : 15px;
}
.l{
	list-style: none;
}

.u{
	border: thick double #32a1ce;
}
.ecrit{
	color :black;
	font-size : 24px;
}
.carou{
	height : 400px;
	color : white;
}
.ecr{
	text-align : center;
}

.expe{
	border-bottom-style: groove;
}

.exp1{
	background-color: blue;
	z-index: 1;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:50%;
width:50%;
position:absolute;
}

